*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/debug/res/mipmap-xhdpi/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/debug/res/mipmap-mdpi/
/app/src/debug/res/mipmap-hdpi/
/app/src/debug/res/mipmap-anydpi-v26/
/app/src/debug/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/debug/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-anydpi-v26/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-xxhdpi/
